<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Dashboard</title>
  </head>
  <body>
          <% if logged_in? %>
            <h1><%= current_user["name"] %></h1>
            <div class="btn-group">
            <%= link_to "View Courses", user_courses_path(current_user["id"]), :class => "btn" %>
            </div>
          <% else %>
            <div class="btn-group">
              <%= link_to "Login with Google", login_path, :class => "btn" %>
            </div>
          <% end %>
    <div class="container">
      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html