<center>
  <br>
  <div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% provide(:title, "Log in") %>
    <h1>Log in</h1>

    <div>
      <div>
        <%= form_for(:session, url: login_path) do |f| %>
          <div>
            <%= f.label :email %>
            <div>
              <%= f.email_field :email %>
            </div>
          </div>
          <hr>
            <%= f.label :password %>
            <div>
              <%= f.password_field :password %>
            </div>

          <%= f.submit "Log in" %>
        <% end %>
        <p>New user? <%= link_to "Sign up", new_user_path %></p>
      </div>
    </div>
  </div>
</center>