<%= render 'courses/header', course: "", edit: "", students: "", quiz: "", assignments: "active", polls: "" %>
<center>
    <div>
        <h1>Assignments</h1>
        <%= link_to "New Assignment", new_user_course_assignment_path(@user, @course), :class => "btn" %>
        <table>
        	 <th class= "row table-header">
                  <td class="col-lg-3">Name</td>
                  <td class="col-lg-4">Description</td>
                  <td class="col-lg-1"></td>
                  <td class="col-lg-2">Date Created</td>
                  <td class="col-lg-2"></td>
              </th>
              <% @assignments.each do |assignment| %>
                <tr class= "row">
                  <td class="col-lg-3"><%= assignment.name %></td>
                  <td class="col-lg-4"><%= assignment.description %></td>
                  <td class="col-lg-1"><% if !assignment.active %>Inactive<% end %></td>

                  <td class="col-lg-2"><%= assignment.created_at.strftime("%A, %B %-d, %Y") %></td>
                  <td class="col-lg-2" align="center"> 
                        <a ><%= link_to 'Show', user_course_assignment_path(@user, @course, assignment) %></a>
                        <a ><%= link_to 'Edit', edit_user_course_assignment_path(@user, @course, assignment) %></a>
                        <a ><%= link_to 'Destroy', user_course_assignment_path(@user, @course, assignment),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %> </a>
                  </td>

                </tr>
              <% end %>
            </table>
    </div>
</center>
