<script>
var submissionURL = '<%= url_for(controller: 'assignments', action: 'submission_view') %>';
var numSubs = <%= @assignment.submissions.length %>;
var page = "assignment";
</script>
<%= render 'courses/header', course: "", edit: "", students: "", quiz: "", assignments: "active", polls: "" %>
<center>
    <div>
      <%= link_to "Edit Assignment", edit_user_course_assignment_path(@user, @course, @assignment), :class=> "btn"%>
      <%= link_to 'Delete Assignment', user_course_assignment_path(@user, @course, @assignment),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class=> "btn"%>
      <h2><%= @assignment.name %></h2>
      <p><% if @assignment.active %>Currently Active<% else %>Currently Inactive<% end %></p>
      <p>ACCESS TAG: <%= @submissionTag %></p>
      <p><%= @assignment.description %></p>
      <hr>
      <h2>Submissions</h2>
      <br>
      <div class="selectors">
        <span onclick="prevSub()"><</span>
        <span onclick="nextSub()">></span>
      </div>
      <div>
        <%= image_tag " ", :id => "submission-picture", :style => "height: 300px;"%>
        <h3 id="submission-student">Placeholder</h3>
        <p id="submission-created">Placeholder</p>
        <p id="submission-edited">Placeholder</p>
      </div>
      <div>
        <a class="btn btn-danger" id="edit-btn" href="#">Edit</a>
        <a class="btn btn-danger" id="delete-btn" href="#" data-method="delete" data-confirm="Are you sure?" rel="nofollow">Delete</a>
      </div>
      <br><br><br>
    </div>

