<%= form_for [@user, @course, @student], local: true, html: {:class => "form-horizontal"} do |form| %>
    <% if @student.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <h2>
                <%= pluralize(@student.errors.count, "error") %> prohibited
                this student from being saved:
            </h2>
            <ul>
                <% @student.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <table>
        <tr class="field">
            <td><%= form.label :name,  :class => "control-label"  %></td>
            <td><%= form.text_field :name,  :class => "name" %></td>
        </tr>

        <tr class="field">
            <td><%= form.label :email,  :class => "control-label"  %></td>
            <td><%= form.text_field :email, :class => "email" %></td>
        </tr>
    </table>
    <%= form.submit "Confirm" %>
    <%= link_to cancel_text, cancel_path %>
<% end %>
