<center>
  <br>
    <div>
      <ul class="nav nav-pills nav-justified">
      <li class = "active"><a href="#">Show Student</a><br></li>
      <li ><%= link_to "Edit Student", edit_user_course_student_path(@user, @course, @student) %><br></li>
      <li><%= link_to "Back to Course", user_course_path(@user, @course)%><br></li>
      </ul>


      <h2><%= @student.name %></h2>
      <h4><%= @student.email %></h4>
      <%= image_tag @student.portrait.url(:flashcard)%>
      <h4>Notes</h4>
      <p> <%= @student.notes %> </p>
      <hr>
    </div>
</center>
