<center>
  <br>
    <div>
<<<<<<< HEAD
      <ul class="nav nav-pills nav-justified">
      <li class = "active"><%= link_to "Edit Student", edit_user_course_student_path(@user, @course, @student) %><br></li>
      <li><%= link_to "Back to Course", user_course_path(@user, @course)%><br></li>
      </ul>


      <h2><%= @student.name %></h2>
      <h4><%= @student.email %></h4>
=======
      <%= link_to "Edit Student", edit_user_course_student_path(@user, @course, @student) %>
      <%= link_to "Back to Course", user_course_path(@user, @course) %>
      <%= link_to "Account", user_path(@user) %>
      <%= link_to "Delete Student", user_course_student_path(@user, @course), method: :delete, data: { confirm: 'Are you sure?' } %>
      <h1>Student Information</h1>
      <h2><%= @student.name %></h2>
      <%= image_tag @student.portrait.url(:flashcard) %>
      <h2><%= @student.email %></h2>
      <p><%= @student.notes %></p>
>>>>>>> dev
      <hr>
    </div>
</center>
