<center>
  <br>
    <div>
      <%= link_to "Edit Student", edit_user_course_student_path(@user, @course, @student) %>
      <%= link_to "Back to Course", user_course_path(@user, @course) %>
      <%= link_to "Account", user_path(@user) %>
      <h1>Student Information</h1>
      <h2><%= @student.name %></h2>
      <%= image_tag @student.portrait.url(:flashcard) %>
      <h2><%= @student.email %></h2>
      <hr>
    </div>

