<%= form_for [@user, @course], local: true, html: {:class => "form-horizontal"} do |form| %>
  <% if @course.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr class="field">
      <td><%= form.label :title,  :class => "control-label"  %></td>
      <td><%= form.text_field :title,  :class => "title" %></td>
    </tr>
   
    <tr class="field">
      <td><%= form.label :code,  :class => "control-label"  %></td>
      <td><%= form.text_field :code, :class => "code" %></td>
    </tr>
  </table>
  <%= form.submit "Confirm" %>
  <%= link_to cancel_text, cancel_path %>
<% end %>
