<center>

  <div class = "jumbotron">
    <h1 class="display-3"> <%= @course.code %>: <%= @course.title %></h1>
    
  </div>
  <ul class="nav nav-pills nav-justified">
    <li><%= link_to "Course", user_course_path(@user, @course) %><br></li>
    <li class = "active"><%= link_to "Edit Course", edit_user_course_path(@user, @course) %><br></li>
    <li><%= link_to "Student Roster", {controller:"courses", action:"student_index"} %><br></li>
    <li><%= link_to "Face/Name Quiz", {controller:"courses", action:"quiz"} %><br></li>
    <li><%= link_to "Assignments", {controller:"courses", action:"quiz"} %><br></li>
  </ul>
</center>
<center>
    <br>
    <div>
        <h1>Edit Course</h1>
        <hr>
        <%= render partial: 'form', locals: {cancel_path: user_course_path(@user, @course), cancel_text: "Cancel"} %>
    </div>
</center>
