<h1>Listing Courses</h1>

<<<<<<< HEAD
<table class="table table-hover table-responsive">
=======
<table>
>>>>>>> dev
  <tr>
    <th style="width: 30%; text-align: left;">Title</th>
    <th style="width: 30%; text-align: left;">Code</th>
    <th style="width: 10%; text-align: center;" colspan="3">Options</th>
  </tr>

  <% @courses.each do |course| %>
    <tr >
      <td><%= course.title %></td>
      <td><%= course.code %></td>
      <td><%= link_to 'Show', user_course_path(@user, course) %></td>
      <td><%= link_to 'Edit', edit_user_course_path(@user, course) %></td>
      <td><%= link_to 'Destroy', user_course_path(@user, course),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
<<<<<<< HEAD
  <%= link_to "New Course", new_user_course_path(@user), :class => "btn"%>
=======
  <%= link_to "New Course", new_user_course_path(@user) %>
>>>>>>> dev
</table>
