<div class="container-fluid">
  <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-4"><h1>Listing Courses</h1></div>
      <div class="col-lg-4 col-md-6 col-sm-8" style="text-align:right;"><h1><%= link_to "New Course", new_user_course_path(@user), :class => "btn"%></h1></div>
  </div>

<table class="table table-hover table-responsive">
  <thead >
    <tr class= "row"; style="background-color:rgb(78,55,100,.5);">
      <th class="col-lg-4">Title</th>
      <th class="col-lg-4">Code</th>
      <th class="col-lg-4"> <center>Options</center></th>
    </tr>
  </thead>

  <% @courses.each do |course| %>
    <tr class= "row">
      <td class="col-lg-4"><a><%= link_to course.title, user_course_path(@user, course) %></a></td>
      <td class="col-lg-4"><%= course.code %></td>
      <td class="col-lg-4" align="center"> 
            <%= link_to edit_user_course_path(@user, course) do %>
              <span class="glyphicon glyphicon-edit" ></span>
            <% end %>

            <%= link_to user_course_path(@user, course),
                method: :delete,
                data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash" ></span>
            <% end %>
      </td>

    </tr>
  <% end %>
  
</table>
</div>
