<script>
// called when the "draw flashcard" button is pressed
function drawFlashcard() {
  // create a new AJAX request object
  var xhttp = new XMLHttpRequest();
  // tell the request object that when its state changes, it should check if it good a good reply back, and then call populateFlashcard
  xhttp.onreadystatechange = function() {
    // readyState == 4 if response received. status == 200 if server gave back a good response
    if (this.readyState == 4 && this.status == 200) {
     populateFlashcard(this.responseText)
    }
  };
  // prepare to send the AJAX request to courses/flashcard
  xhttp.open("GET", '<%= url_for(controller: 'courses', action: 'flashcard') %>', true);
  // send the ajax request
  xhttp.send();
}

function populateFlashcard(json) {
  // if the json is not empty
  if (json != "{}"){
    // parse the returned JSON
    var student = JSON.parse(json);
    // populate the fields
    document.getElementById("student-name").innerHTML = student.name;
    document.getElementById("student-info").innerHTML = student.email;
    document.getElementById("student-picture").src = student.portrait_url;
    document.getElementById("student-picture").alt = student.name;
  }
}
</script>

<center>
  <br>
    <div>
      <h1> <%= @course.code %>: <%= @course.title %></h1>
      <ul class="nav nav-pills nav-justified">
        <li class = "active"><%= link_to "Course", user_course_path(@user, @course) %><br></li>
        <li><%= link_to "Edit Course", edit_user_course_path(@user, @course) %><br></li>
        <li><%= link_to "Student Roster", user_course_students_path(@user, @course) %><br></li>
      </ul>
      <div class = "container">
        <div class="row">
          <div class="col-lg-4">
            <h3> Actions</h3>
            <%= link_to "Edit Course", edit_user_course_path(@user, @course) %><br>
            <%= link_to "All Courses", user_courses_path(@user) %><br>
            <%= link_to "Account", user_path(@user) %><br>
            <%= link_to "Add Student", new_user_course_student_path(@user, @course) %><br>
            <%= link_to "Add Assignment", new_user_course_assignment_path(@user, @course) %>
          </div>
          <div class = "col-lg-4">
            <h2>Assignments</h2>
            <table>
              <thead>
                <tr><th>Name</th><th>Description</th><th>ID</th><th></th>
              </thead>
              <tbody>
                <% @course.assignments[0..5].each do |assignment| %>
                  <tr>
                    <td><%= assignment.name %></td>
                    <td><%= truncate assignment.description, length: 30, separator: /\w+/ %></td>
                    <td><%= assignment.id %></td>
                    <td><%= link_to "View", user_course_assignment_path(@user, @course, assignment) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class = "col-lg-4">
            <h3>Flashcards</h3>
              <div class = "flashcard" id="flashcard-info">
                <%= image_tag "/images/defaults/flashcard/missing.png", :id => "student-picture", :style => "width:300px;height:300px;" %>
                <h4 id="student-name">Name</h4>
                <p id="student-info">info</p>
              </div>
              <button type="button" class ="btn" onclick="drawFlashcard()">Draw Flashcard</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </br>
</center>