<%= csrf_meta_tag %>
<script> 
// so we can access the correct urls in the .js files
var flashcard_url = "<%= url_for(controller:'courses', action:'flashcard') %>";
var note_upload_url = "<%= url_for(controller:'courses', action:'updateNotes') %>";
</script>
<center>
  <br>
    <div>
      <h1> <%= @course.code %>: <%= @course.title %></h1>
      <ul class="nav nav-pills nav-justified">
        <li class = "active"><%= link_to "Course", user_course_path(@user, @course) %><br></li>
        <li><%= link_to "Edit Course", edit_user_course_path(@user, @course) %><br></li>
        <li><%= link_to "Student Roster", user_course_students_path(@user, @course) %><br></li>
        <li><%= link_to "Face/Name Quiz", {controller:"courses", action:"quiz"} %><br></li>
      </ul>
      <div class = "container">
        <div class="row">
          <div class = "col-lg-4">
            <h3>Assignments</h3>
            <hr>
            <table>
              <% @course.assignments.each do |assignment| %>
                <tr class= "row">
                  <td class="col-lg-6"><%= assignment.name %></td>
                  <td class="col-lg-6" align="center"> 
                        <a ><%= link_to 'Show', user_course_assignment_path(@user, @course, assignment) %></a>
                        <a ><%= link_to 'Edit', edit_user_course_assignment_path(@user, @course, assignment) %></a>
                        <a ><%= link_to 'Destroy', user_course_assignment_path(@user, @course, assignment),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %> </a>
                  </td>

                </tr>
              <% end %>
            </table>
            <%= link_to "New Assignment", new_user_course_assignment_path(@user, @course), :class => "btn btn-danger" %>
            <%= link_to "All Assignments", user_course_assignments_path(@user, @course), :class => "btn btn-danger" %>

          </div>
          <div class = "col-lg-4">
            <h3>Flashcards</h3>
              <div class = "flashcard" id="flashcard-info">
                <%= image_tag "/images/defaults/flashcard/missing.png", :id => "student-picture", :style => "width:300px;height:300px;" %>
                <h4 id="student-name">Name</h4>
                <p id="student-info">info</p>
                <textarea rows=5 id="student-notes" onkeyup="updateNotes()"></textarea>
              </div>
              <button type="button" class ="btn" onclick="drawFlashcard('dashboard')">Draw Flashcard</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </br>
</center>