<%= csrf_meta_tag %>
<script>
// so we can access the correct urls in the .js files
var flashcard_url = "<%= url_for(controller:'courses', action:'flashcard') %>";
var note_upload_url = "<%= url_for(controller:'courses', action:'updateNotes') %>";
function toggleHide() {
    var x = document.getElementById("toggleable");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<%= render 'header', course: "active", students: "", quiz: "", assignments: "" %>
<center>
    <div>
      <div class = "container">
        <div class="row">
          <div class = "col-lg-4">
          </div>
          <div class = "col-lg-4">
            <h3>Flashcards</h3>
            <div class = "flashcard" id="flashcard-info">
              <%= image_tag "/images/defaults/flashcard/missing.png", :id => "student-picture", :style => "width:300px;height:300px;" %>
              <h4 id="student-name">Name</h4>
              <p id="student-info">info</p>
              <textarea rows=5 id="student-notes" onkeyup="updateNotes()"></textarea>
            </div>
            <div class ="btn" onclick="drawFlashcard('dashboard')">Draw Flashcard</div>
          </div>
          <div class ="col-lag-4">
          <br>
          <br>
              <a class = "btn" <%= link_to "Edit Course", edit_user_course_path(@user, @course) %></a>
              <br>
              <button class="btn" onclick="toggleHide()">Order Students</button>
              <div id="toggleable"; style = "display:none">
                <h4>Order Students</h4>
                <%= form_tag user_course_path(@user, @course) do %>
                  <%= text_area :flashcard_order, :edit_flashcard_order %>
                  <%= submit_tag "Order Students" %>
                <% end %>
            </div>
          </div>
        </div>
        </div>
      </div>
</center>
